@import "./style/color.css";
@import "./style/modules.css";
@import "./style/tooltip.css";
@import "./style/workspaces.css";
@import "./style/battery.css";
@import "./style/network.css";
@import "./style/hardware.css";
@import "./style/pulseaudio.css";
@import "./style/middledock.css";

* {
  all: unset;
  font-family: "Maple Mono NF";
  font-size: 12px;
  color: @accent;
}

window#waybar {
  background: transparent;
}
