#battery {
  border-radius: 90px;
  padding: 0px 10px;
  margin: 2px 2px;
}

#battery.full,
#battery.charging.good,
#battery.discharging.good,
#battery.charging.normal,
#battery.charging.warning {
  color: @success;
  border: 1px solid @success;
  box-shadow: inset 1px 1px 1px @success;
}

#battery.discharging.normal,
#battery.charging.critical {
  color: @info;
  border: 1px solid @info;
  box-shadow: inset 1px 1px 1px @info;
}

#battery.discharging.warning {
  color: @accentAlt;
  border: 1px solid @accentAlt;
  box-shadow: inset 1px 1px 1px @accentAlt;
}

#battery.discharging.critical {
  color: @error;
  border: 1px solid @error;
  box-shadow: inset 1px 1px 1px @error;
}
