/*
 * Compatibility names expected by some GTK 3 applications.
 */
@define-color theme_bg_color @background2;
@define-color theme_fg_color @foreground;
@define-color theme_base_color @background1;
@define-color theme_text_color @foreground;
@define-color theme_selected_bg_color @accent1;
@define-color theme_selected_fg_color @background1;
@define-color insensitive_bg_color @background2;
@define-color insensitive_fg_color @muted;
@define-color borders @border;

/* General application surfaces */

window,
.background {
  background-color: @background2;
  color: @foreground;
}

/* Window header */

headerbar,
.titlebar {
  background-color: @background1;
  color: @foreground;

  border-bottom: 1px solid @border;
}

/* Buttons */
button {
  background-image: none;
  background-color: transparent;
  color: @foreground;

  border: 1px solid @border;
  border-radius: 8px;

  padding: 6px 10px;
}

button:hover {
  box-shadow: inset 0px 0px 2px 2px @accent1;
}

button:active,
button:checked {
  background-color: @surface2;
  box-shadow: inset 0px 0px 2px 2px @info1;
}

button:disabled {
  background-color: @background1;
  color: @muted;
}

/* Text inputs */

entry {
  background-color: @surface1;
  color: @foreground;

  border: 1px solid @border;
  border-radius: 6px;

  padding: 2px;
  margin: 2 px;
}

entry:focus {
  border-color: @accent1;
  box-shadow: 0 0 0 1px @accent1;
}

/* Selected text and list items */

selection,
*:selected {
  background-color: @surface1;
  color: @accent2;
}

/* Tooltips */

tooltip {
  background-color: @surface2;
  color: @accent2;
  border: 1px solid @info1;
  border-radius: 8px;
}

/* thunar */

/* selected icons in thunar's main view */

.thunar .standard-view .view:selected {
  background-image: none;
  background-color: transparent;
  color: @info2;
  box-shadow: inset 0 0 0 2px @accent1;
  border-radius: 6px;
}
