#battery {
  border-radius: 90px;
  padding: 0px 10px;
  margin: 2px 2px;
}

#battery.full,
#battery.charging.good,
#battery.discharging.good,
#battery.charging.normal,
#battery.charging.warning {
  color: @success1;
  border: 1px solid @success1;
  box-shadow: inset 1px 1px 1px @success1;
}

#battery.discharging.normal,
#battery.charging.critical {
  color: @info2;
  border: 1px solid @info2;
  box-shadow: inset 1px 1px 1px @info2;
}

#battery.discharging.warning {
  color: @warning1;
  border: 1px solid @warning1;
  box-shadow: inset 1px 1px 1px @warning1;
}

#battery.discharging.critical {
  color: @error2;
  border: 1px solid @error2;
  box-shadow: inset 1px 1px 1px @error2;
}
