#hardware {
  border: 1px solid @info;
  border-radius: 90px;
  padding: 0px 10px;
  margin: 2px 2px;
  box-shadow: inset 1px 1px 1px @info;
  color: @info;
}

#disk,
#cpu,
#memory {
  margin: 2px 2px;
  padding: 2px 5px;
  color: @info;
}

#cpu.sleep {
  color: @info;
}

#cpu.low {
  color: @success;
}

#cpu.mid {
  color: @accentAlt;
}

#cpu.high {
  color: @error;
}
