#hardware {
  border: 1px solid @info2;
  border-radius: 90px;
  padding: 0px 10px;
  margin: 2px 2px;
  box-shadow: inset 1px 1px 1px @info2;
  color: @info2;
}

#disk,
#cpu,
#memory {
  margin: 2px 2px;
  padding: 2px 5px;
  color: @info2;
}

#cpu.sleep {
  color: @info2;
}

#cpu.low {
  color: @success1;
}

#cpu.mid {
  color: @warning1;
}

#cpu.high {
  color: @error1;
}
