#network {
  min-width: 20px;
  border-radius: 90px;
  padding: 0px 10px;
  margin: 2px 2px;
}

#network.ethernet,
#network.wifi {
  color: @success1;
  border: 1px solid @success1;
  box-shadow: inset 1px 1px 1px @success1;
}

#network.disabled {
  color: @background2;
  border: 1px solid @background2;
  box-shadow: inset 1px 1px 1px @background2;
}

/*only physical connection exists IP has not been established*/
#network.linked {
  color: @warning1;
  border: 1px solid @warning1;
  box-shadow: inset 1px 1px 1px @warning1;
}

#network.disconnected {
  color: @error1;
  border: 1px solid @error1;
  box-shadow: inset 1px 1px 1px @error1;
}
