#hardware {
  border: 1px solid @Blue;
  border-radius: 90px;
  padding: 0px 10px;
  margin: 2px 2px;
  box-shadow: inset 1px 1px 1px @Blue;
  color: @Blue;
}

#disk,
#cpu,
#memory {
  margin: 2px 2px;
  padding: 2px 5px;
  color: @Blue;
}

#cpu.sleep {
  color: @Blue;
}

#cpu.low {
  color: @Teal;
}

#cpu.mid {
  color: @Peach;
}

#cpu.high {
  color: @Maroon;
}
