#audiocontrol {
  border-radius: 90px;
  min-width: 20px;
  padding: 0px 10px;
  margin: 2px 2px;
  color: @Teal;
  border: 1px solid @Teal;
  box-shadow: inset 1px 1px 1px @Teal;
}

#pulseaudio.speaker {
  padding: 0px 4px;
}
#pulseaudio.microphone {
  padding: 0px 4px;
}

#pulseaudio.speaker.muted {
  color: @Maroon;
  border: 1px solid @Maroon;
  box-shadow: inset 1px 1px 1px @Maroon;
}
#pulseaudio.microphone.muted {
  color: @Maroon;
  border: 1px solid @Maroon;
  box-shadow: inset 1px 1px 1px @Maroon;
}
