#workspaces {
  margin: 0px 5px;
  background: transparent;
}
#workspaces button {
  min-width: 60px;
  border: 1px solid @Mauve;
  border-radius: 16px;
  padding: 0px 10px;
  margin: 2px 2px;
  font-size: 0.4rem;
  transition: none;
  box-shadow: inset 1px 1px 1px @Mauve;
}
#workspaces button.active {
  box-shadow:
    inset 1px 1px 1px @Mauve,
    inset 0px 0px 10px @Peach;
}

#workspaces button.active label {
  color: @Maroon;
}

#workspaces button:hover {
  box-shadow:
    inset 1px 0px 4px @Mauve,
    inset 1px 1px 1px @Mauve;
}

#workspaces button.active:hover {
  box-shadow:
    inset 1px 1px 1px @Mauve,
    inset 1px 0px 4px @Mauve,
    inset 0px 0px 10px @Peach;
}

#workspaces button.empty label {
  color: @Text;
}
