#middle {
  border-radius: 90px;
}

#clock {
  background: transparent;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 6px;
  padding: 0px 10px;
  margin: 5px 5px;
}

/* Power Profile Switcher */

#power-profiles-daemon {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 60px;
  padding: 2px 4px;
  margin: 5px 5px;
}
#power-profiles-daemon.power-saver {
  color: @Green;
}
#power-profiles-daemon.balanced {
  color: @Yellow;
}
#power-profiles-daemon.performance {
  color: @Maroon;
}

/* Notifications */

#custom-notification {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 60px;
  padding: 2px 4px;
  margin: 5px 5px;
}

/* No stored notifications */
#custom-notification.none {
  color: @Mauve;
}

/* One or more stored notifications */
#custom-notification.notification {
  color: @Maroon;
}

/* Do Not Disturb, no notifications */
#custom-notification.dnd-none {
  color: @Surface0;
}

/* Do Not Disturb, with notifications */
#custom-notification.dnd-notification {
  color: @Peach;
}

/* Notifications are inhibited */
#custom-notification.inhibited-none,
#custom-notification.dnd-inhibited-none {
  color: @Overlay0;
}

#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification {
  color: @Red;
}
