#audiocontrol {
  border-radius: 90px;
  padding: 0px 2px;
  margin: 2px 2px;
  border: 1px solid @Teal;
  box-shadow: inset 1px 1px 1px @Teal;
}

#pulseaudio.speaker,
#pulseaudio.microphone {
  min-width: 18px;
  padding: 0px 4px;
  color: @Teal;
}

#pulseaudio.speaker.sink-muted {
  color: @Maroon;
}

#pulseaudio.microphone.source-muted {
  color: @Maroon;
}
