@import "./style/color.css";
@import "./style/clock.css";
@import "./style/modules.css";
@import "./style/tooltip.css";
@import "./style/workspaces.css";
@import "./style/battery.css";
@import "./style/network.css";
@import "./style/pulseaudio.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Propo";
  font-size: 12px;
  color: @Mauve;
}

window#waybar {
  background: transparent;
  border: 1px solid red;
}
